# Git
.git
.gitignore

# Docker
docker-compose.yml
.docker

# Config files
.env.development.local
.env.test.local
.env.production.local

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
.env/
.venv/
venv/

# PyCharm
.idea

# Vim swap files
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp